
// Font sizes
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 32px;

// Breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px; 

:root {
  --primary-color: #4268A8;
}